@font-face {
  font-family: "Graphik LCG";
  src: url(../fonts/GraphikLCG-Regular.ttf), url(../fonts/GraphikLCG-Semibold.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Graphik LCG", sans-serif;
}

body {
  font-family: "Graphik LCG";
}

.page-wrap {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FF6336;
}

li {
  list-style: none;
}

.footer__lokalise, .footer__box-2, .footer__block-3, .footer__block-2, .footer__block-4, .footer__block-5, .footer__wrap-item, .footer__block-1, .footer__box-1, .section__middle-wrap, .section__info-wrap, .section__highest-rate, .section__users-love, .section__rate, .section__img-txt, .section__rate-wrap, .article__txt-content, .article__info, .section__white-cards, .section__cards, .section__logo-box, .section__info-1, .section__section-txt, .section__info, .main__nav-btn, .main__block-1, .main__info, .header__nav, .header__nav-logo, .header__top-item {
  display: flex;
  flex-wrap: wrap;
}

.header {
  border-bottom: 1px solid #E5E5E5;
  padding: 34px 0 33px;
}
.header__top-item {
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.header__nav-logo {
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.header__nav {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.header__nav-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: black;
}
.header__nav-txt:hover {
  color: #FF6336;
}
.header__nav-btn {
  margin-left: 10px;
}
.header__btn-1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  max-width: 120px;
  color: black;
  background-color: #fff;
  padding: 0 30px;
  text-align: center;
  border: 1px solid;
}
.header__btn-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  max-width: 120px;
  background-color: #FF6336;
  color: white;
  padding: 0 20px;
  text-align: center;
  border: #FF6336;
}

.main {
  padding: 115px 0 140px;
}
.main__info {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 100px;
}
.main__block-1 {
  flex-direction: column;
  text-align: left;
  max-width: 620px;
}
.main__h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 50px;
  max-width: 550px;
}
.main__txt {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
  max-width: 471px;
}
.main__nav-btn {
  flex-direction: row;
  gap: 10px;
}
.main__btn-1 {
  max-width: 160px;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  background-color: #FF6336;
  color: white;
  padding: 0 30px;
  text-align: center;
  border: #FF6336;
  margin-bottom: 25px;
}
.main__btn-2 {
  max-width: 160px;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: black;
  background-color: #fff;
  padding: 0 20px;
  text-align: center;
  border: 1px solid;
}
.main__txt-sm {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.main__img {
  max-width: 600px;
  min-height: 530px;
  width: 100%;
}

/*content*/
.section__info {
  justify-content: space-between;
  padding: 130px 0;
  gap: 40px;
}

.section__section-txt {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.section__img {
  max-width: 632px;
  width: 100%;
}

.section {
  /*section 1 */
  /*section-2*/
  /*section 6*/
  /*section 7*/
}
.section__bg-color-1 {
  background-color: #FF9C7D;
}
.section__info-1 {
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}
.section__h1-1 {
  padding-top: 90px;
  padding-bottom: 70px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
.section__logo-box {
  flex-direction: row;
  align-items: center;
  min-height: 53px;
  max-width: 1290px;
  gap: 50px;
  margin-bottom: 90px;
}
.section__info {
  flex-direction: row;
}
.section__h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
.section__txt {
  max-width: 520px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.section__h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.section__bg-color-6 {
  background-color: #FFF8E4;
}
.section__card-headline {
  padding: 120px 0 58px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
.section__cards {
  flex-direction: row;
  gap: 110px;
  padding-bottom: 95px;
}
.section__card {
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 22px;
}
.section__card-img {
  max-width: 160px;
  min-height: 120px;
}
.section__headline-sm {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
}
.section__card-txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.section__white-card-headline {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: left;
  padding: 154px 0 25px;
}
.section__white-cards {
  flex-direction: row;
  padding-bottom: 95px;
  align-items: baseline;
}
.section__white-card {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 50px;
}
.section__white-card-img1 {
  max-width: 145px;
  min-height: 200px;
  margin-bottom: 49px;
}
.section__white-card-img2 {
  max-width: 179px;
  min-height: 166px;
  margin-bottom: 50px;
}
.section__white-card-img3 {
  max-width: 179px;
  min-height: 183px;
  margin-bottom: 50px;
}
.section__white-headline-sm {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 34px;
}
.section__white-card-txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.section__card-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-decoration: underline;
  color: black;
  margin-top: 25px;
}

.article__bg-color {
  background-color: #C9E8F2;
}
.article__info {
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 0 150px;
}
.article__txt-content {
  flex-direction: column;
  gap: 23px;
}
.article__txt {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  max-width: 920px;
}
.article__txt-sm {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.article__img-sm {
  max-width: 115px;
  min-height: 25px;
}
.article__img {
  max-width: 310px;
  min-height: 310px;
  width: 100%;
}

.section {
  /*section 8*/
  /*secrion 9*/
  /*section 10*/
}
.section__bgc-brown {
  background-color: #DABC98;
}
.section__rate-wrap {
  justify-content: space-between;
  gap: 30px;
  padding: 69px 0 80px;
}
.section__img-txt {
  gap: 60px;
  align-items: center;
}
.section__cake {
  max-width: 176px;
}
.section__bold-txt {
  max-width: 460px;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}
.section__rate {
  gap: 70px;
  align-items: center;
  border-left: 1px solid black;
  padding-left: 50px;
}
.section__users-love {
  flex-direction: column;
  max-width: 128px;
  gap: 20px;
}
.section__highest-rate {
  flex-direction: column;
  justify-content: left;
  max-width: 150px;
  gap: 20px;
}
.section__img-stars {
  max-width: 128px;
  min-height: 20px;
}
.section__brown-block-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.section__info-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 169px 0 120px;
}
.section__heading-h2 {
  max-width: 791px;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
}
.section__txt-middle {
  max-width: 539px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.section__img-middle {
  max-width: 1023px;
  width: 100%;
}
.section__btn-middle {
  padding: 0 20px;
  color: white;
  background-color: #FF6336;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: none;
}
.section__middle-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 161px 0 161px;
  gap: 35px;
}
.section__black-btn {
  padding: 0 30px;
  color: white;
  background-color: black;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
}

.footer__bgc {
  background-color: #EEEEEE;
}
.footer__wrap {
  padding: 92px 0 48px;
}
.footer__box-1 {
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 95px;
  gap: 20px;
}
.footer__block-1 {
  flex-direction: column;
  justify-content: left;
  gap: 25px;
}
.footer__h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.footer__img {
  max-width: 300px;
}
.footer__mini-logo {
  max-width: 80px;
}
.footer__block-txt {
  max-width: 290px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.footer__link {
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.footer__wrap-item {
  gap: 34px;
}
.footer__block-h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}
.footer__mini-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
.footer__block-2, .footer__block-4, .footer__block-5 {
  flex-direction: column;
  gap: 15px;
  padding-right: 10px;
}
.footer__block-2 {
  padding-right: 50px;
}
.footer__block-3 {
  flex-direction: column;
  gap: 15px;
}
.footer__box-2 {
  justify-content: space-between;
  gap: 20px;
  padding-top: 48px;
}
.footer__lokalise {
  gap: 15px;
  align-items: center;
}
.footer__lokalise-img {
  max-width: 90px;
}
.footer__lokalise-txt {
  max-width: 300px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.footer__h6, .footer__privacy-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}