@font-face {
    font-family: "Graphik LCG";
    src: url(../fonts/GraphikLCG-Regular.ttf),
        url(../fonts/GraphikLCG-Semibold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

@import './reset';

@mixin font-properties ($font-weight, $font-size, $line-height) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

$grey: #E5E5E5;
$orange: #FF6336;
$peach: #FF9C7D;
$pink: #FFF8E4;
$blue: #C9E8F2;
$brown: #DABC98;
$light-grey: #EEEEEE;







.header {
    border-bottom: 1px solid $grey;
    padding: 34px 0 33px;

    &__top-item {
        @extend %flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    &__nav-logo {
        @extend %flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    &__nav {
        @extend %flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    &__nav-txt {
        @include font-properties(400, 15px, 20px);
        color: black;
        &:hover {
            color: $orange;
        }
    }

    &__nav-btn {
        @extend %flex;
        flex-direction: row;
        gap: 10px;
    }

    &__btn-1 {
        @include font-properties(600, 16px, 45px);
        max-width: 120px;
        color: black;
        background-color: #fff;
        padding: 0 30px;
        text-align: center;
        border: 1px solid ;
    }
     
    &__btn-2 {
        @include font-properties(600, 16px, 45px);
        max-width: 120px;
        background-color: $orange;
        color: white;
        padding: 0 20px;
        text-align: center;
        border: $orange;
    }
}


@media (max-width: 1023px) {
    .header {
        padding: 24px 0 23px;
    
        &__top-item {
            gap: 20px;
        }
    
        &__nav-logo {
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
        }

        &__nav {
            gap: 20px;
        }
    
        &__btn-1 {
            @include font-properties(600, 15px, 45px);
            max-width: 110px;
            padding: 0 25px;
        }
         
        &__btn-2 {
            @include font-properties(600, 15px, 45px);
            max-width: 100px;
            padding: 0 15px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        padding: 24px 0 13px;
    
        &__top-item {
            justify-content: center;
            gap: 20px;
        }
    
        &__nav-logo {
            align-items: center;
            gap: 20px;
        }
    
        &__nav {
            gap: 15px;
        }

        &__btn-1 {
            @include font-properties(600, 14px, 45px);
            max-width: 100px;
            padding: 0 22px;
        }
         
        &__btn-2 {
            @include font-properties(600, 14px, 45px);
            max-width: 90px;
            padding: 0 12px;
        }
    }
}



.main {
    padding: 115px 0 140px;

    &__info {
        @extend %flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 100px;
    }

    &__block-1 {
        @extend %flex;
        flex-direction: column;
        text-align: left;
        max-width: 620px;
    }

    &__h1 {
        @include font-properties(600, 65px, 70px);
        margin-bottom: 50px;
        max-width: 550px;
    }

    &__txt {
        @include font-properties(400, 25px, 35px);
        margin-bottom: 30px;
        max-width: 471px;
    }

    &__nav-btn {
        @extend %flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 25px;
    }

    &__btn-1 {
        max-width: 160px;
        @include font-properties(600, 16px, 60px);
        text-align: center;
        background-color: $orange;
        color: white;
        padding: 0 30px;
        text-align: center;
        border: $orange;
        
    }

    &__btn-2 {
        max-width: 160px;
        @include font-properties (600, 16px, 60px);
        text-align: center;
        color: black;
        background-color: #fff;
        padding: 0 20px;
        text-align: center;
        border: 1px solid;
    }

    &__txt-sm {
        @include font-properties(400, 15px, 25px);
    }

    &__img {
        max-width: 600px;
        min-height: 530px;
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .main {
        padding: 100px 0 90px;
    
        &__info {
            padding-bottom: 50px;
        }
    
        &__block-1 {
            max-width: 320px;
        }
    
        &__h1 {
            @include font-properties(600, 50px, 50px);
            margin-bottom: 40px;
            max-width: 305px;
        }
    
        &__txt {
            @include font-properties(400, 20px, 30px);
            margin-bottom: 25px;
            max-width: 300px;
        }   

        &__nav-btn {
            margin-bottom: 20px;
        }
    
        &__btn-1 {
            @include font-properties(600, 15px, 45px);
            max-width: 120px;
            padding: 0 20px;
        }
    
        &__btn-2 {
            @include font-properties(600, 15px, 45px);
            max-width: 120px;
            padding: 0 10px;
        }
    
        &__txt-sm {
            @include font-properties(400, 13px, 25px);
        }
    
        &__img {
            max-width: 400px;
        }
    }
}

@media (max-width: 767px) {
    .main {
        padding: 50px 0 90px;
    
        &__info {
            padding-bottom: 10px;
        }
    
        &__block-1 {
            max-width: 320px;
        }
    
        &__h1 {
            @include font-properties(600, 50px, 50px);
            margin-bottom: 40px;
            max-width: 305px;
        }
    
        &__txt {
            @include font-properties(400, 20px, 30px);
            margin-bottom: 25px;
            max-width: 300px;
        }   

        &__nav-btn {
            margin-bottom: 20px;
        }
    
        &__btn-1 {
            @include font-properties(600, 15px, 45px);
            max-width: 120px;
            padding: 0 20px;
        }
    
        &__btn-2 {
            @include font-properties(600, 15px, 45px);
            max-width: 120px;
            padding: 0 10px;
        }
    
        &__txt-sm {
            @include font-properties(400, 13px, 25px);
        }
    
        &__img {
            max-width: 400px;
        }
    }
}




/*content*/
%content-layot {
    @extend %flex;
    justify-content: space-between;
    padding: 130px 0;
    gap: 40px;
}

%txt-layot {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

%img-layot {
    max-width: 632px;
    width: 100%;
}



.section-1 {
    &__bg-color-1 {
        background-color: $peach;
    }
    
    &__info-1 {
        @extend %flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
    }

    &__h1-1 {
        padding-top: 90px;
        padding-bottom: 70px;
        @include font-properties(600, 50px, 60px);
    }

    &__logo-box {
        @extend %flex;
        flex-direction: row;
        align-items: center;
        min-height: 53px;
        max-width: 1290px;
        gap: 50px;
        margin-bottom: 90px;
    }
}

.section {

    /*section 1 */

    



    
    /*section-2*/
    
    
    &__info {
        @extend %content-layot;
        flex-direction: row;
    }

    &__section-txt {
        @extend %txt-layot;
    }
    
    &__h1 {
        @include font-properties(600, 50px, 60px)
    }
    
    &__txt {
        max-width: 520px;
        @include font-properties(400, 20px, 30px)
    }
    
     &__h5 {
        @include font-properties(600, 20px, 30px)
    }
    
    &__img {
        @extend %img-layot;
    }
    


    /*section 6*/

    &__bg-color-6 {
        background-color: $pink;
    }

    &__card-headline {
        padding: 120px 0 58px;
        @include font-properties(600, 50px, 60px);
        text-align: center;
    }

    &__cards {
        @extend %flex;
        flex-direction: row;
        gap: 110px;
        padding-bottom: 95px;

    }

    &__card {
        max-width: 330px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 22px;
    }

    &__card-img {
        max-width: 160px;
        min-height: 120px;
    }

    &__headline-sm {
        @include font-properties(600, 25px, 35px);
    }

    &__card-txt {
        @include font-properties(400, 18px, 25px);
    }


    /*section 7*/

    &__white-card-headline {
        @include font-properties(600, 50px, 60px);
        text-align: left;
        padding: 154px 0 25px;
    }

    &__white-cards {
        @extend %flex;
        flex-direction: row;
        padding-bottom: 95px;
        align-items: baseline;
    }

    &__white-card {
        max-width: 420px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 50px;
    }

    &__white-card-img1 {
        max-width: 145px;
        min-height: 200px;
        margin-bottom: 49px;
    }

    &__white-card-img2 {
        max-width: 179px;
        min-height: 166px;
        margin-bottom: 50px;
    }

    &__white-card-img3 {
        max-width: 179px;
        min-height: 183px;
        margin-bottom: 50px;
    }

    &__white-headline-sm {
        @include font-properties(600, 30px, 40px);
        margin-bottom: 34px;
    }

    &__white-card-txt {
        @include font-properties(400, 20px, 30px);
    }
    
    &__card-link {
        @include font-properties(400, 20px, 30px);
        text-decoration:underline;
        color: black;
        margin-top: 25px;
    }

}


.article {
    &__bg-color {
        background-color: $blue;
    }

    &__info {
        @extend %flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        padding: 50px 0 150px;
    }

    &__txt-content {
        @extend %flex;
        flex-direction: column;
        gap: 23px;
    }

    &__txt {
        @include font-properties(400, 30px, 40px);
        max-width: 920px;
    }

    &__txt-sm {
        @include font-properties(400, 15px, 25px);
    }

    &__img-sm {
        max-width: 115px;
        min-height: 25px;
    }

    &__img {
        max-width: 310px;
        min-height: 310px;
        width: 100%;
    }
}

.section {

    /*section 8*/

    &__bgc-brown {
        background-color: $brown;
    }

    &__rate-wrap {
        @extend %flex;
        justify-content: space-between;
        gap: 30px;
        padding: 69px 0 80px;
    }

    &__img-txt {
        @extend %flex;
        gap: 60px;
        align-items: center;
        
    }

    &__cake {
        max-width: 176px;

    }

    &__bold-txt {
        max-width: 460px;
        @include font-properties(600, 35px, 50px)
    }

    &__rate {
        @extend %flex;
        gap: 70px;
        align-items: center;
        border-left: 1px solid black;
        padding-left: 50px  ;
    }

    &__users-love {
        @extend %flex;
        flex-direction: column;
        max-width: 128px;
        gap: 20px;
    }

    &__highest-rate {
        @extend %flex;
        flex-direction: column;
        justify-content: left;
        max-width: 150px;
        gap: 20px;
    }

    &__img-stars {
        max-width: 128px;
        min-height: 20px;
    }

    &__brown-block-txt {
        @include font-properties(400, 15px, 25px);
    }


    /*secrion 9*/

    &__info-wrap {
        @extend %flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 25px;
        padding: 169px 0 120px;
    }

    &__heading-h2 {
        max-width: 791px;
        @include font-properties(600, 65px, 75px);
    }

    &__txt-middle {
        max-width: 539px;
        @include font-properties(400, 25px, 30px);
    }

    &__img-middle {
        max-width: 1023px;
        width: 100%;
    }

    &__btn-middle {
        padding: 0 20px;
        color: white;
        background-color: $orange;
        @include font-properties(600, 16px, 60px);
        border: none;
    }

    /*section 10*/ 

    &__middle-wrap {
        @extend %flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 161px 0 161px;
        gap: 35px;
    }

    &__black-btn {
        padding: 0 30px;
        color: white;
        background-color: black;
        @include font-properties(600, 17px, 60px);
    }
}

.footer {

    &__bgc {
        background-color: $light-grey;
    }

    &__wrap {
        padding: 92px 0 48px;
    }

    &__box-1 {
        @extend %flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: 95px;
        gap: 20px;
    }

    &__block-1 {
        @extend %flex;
        flex-direction: column;
        justify-content: left;
        gap: 25px;
    }

    &__h3 {
        @include font-properties(600, 40px, 50px)
    }

    &__img {
        max-width: 300px;
    }

    &__mini-logo {
        max-width: 80px;
    }

    &__block-txt {
        max-width: 290px;
        @include font-properties(400, 20px, 30px)
    }

    &__link {
        color: black;
        @include font-properties(600, 20px, 30px)
    }

    &__wrap-item {
        @extend %flex;
        gap: 34px;
    }

    &__block-h4 {
        @include font-properties(600, 20px, 25px)
    }
    
    &__mini-txt {
        @include font-properties(400, 15px, 15px)
    }

    &__block-2,
    &__block-4,
    &__block-5 {
        @extend %flex;
        flex-direction: column;
        gap: 15px;
        padding-right: 10px;
    }

    &__block-2 {
        padding-right: 50px;
    }

    &__block-3 {
        @extend %flex;
            flex-direction: column;
            gap: 15px;
    }

    &__box-2 {
        @extend %flex;
        justify-content: space-between;
        gap: 20px;
        padding-top: 48px;
    }

    &__lokalise {
        @extend %flex;
        gap: 15px;
        align-items: center;
    }

    &__lokalise-img {
        max-width: 90px;
    }

    &__lokalise-txt {
        max-width: 300px;
        @include font-properties(400, 12px, 15px)
    }

    &__h6,
    &__privacy-txt {
        @include font-properties(400, 12px, 15px)
    }
}


    
