@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Regular.woff2') format('woff2'),
        url('GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import './reset';

@mixin font-properties ($font-weight, $font-size, $line-height) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

$grey: #E5E5E5;
$orange: #FF6336;
$peach: #FF9C7D;



.header {
    border-bottom: 1px solid $grey;
    padding: 34px 0 33px;

    &__top-item {
        @extend %flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    &__nav-logo {
        @extend %flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    &__nav {
        @extend %flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    &__nav-txt {
        @include font-properties(400, 15px, 20px);
        color: black;
        &:hover {
            color: $orange;
        }
    }

    &__nav-btn {
        margin-left: 10px;
    }

    &__btn-1 {
        @include font-properties(600, 16px, 45px);
        max-width: 120px;
        color: black;
        background-color: #fff;
        padding: 0 30px;
        text-align: center;
        border: 1px solid ;
    }
     
    &__btn-2 {
        @include font-properties(600, 16px, 45px);
        max-width: 120px;
        background-color: $orange;
        color: white;
        padding: 0 20px;
        text-align: center;
        border: $orange;
    }
}

.main {
    padding: 115px 0 140px;

    &__info {
        @extend %flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 100px;
    }

    &__block-1 {
        @extend %flex;
        flex-direction: column;
        text-align: left;
        max-width: 620px;
    }

    &__h1 {
        @include font-properties(600, 65px, 70px);
        margin-bottom: 50px;
    }

    &__txt {
        @include font-properties(400, 25px, 35px);
        margin-bottom: 30px;
    }

    &__nav-btn {
        @extend %flex;
        flex-direction: row;
        gap: 10px;
    }

    &__btn-1 {
        max-width: 160px;
        @include font-properties(600, 16px, 60px);
        text-align: center;
        background-color: $orange;
        color: white;
        padding: 0 30px;
        text-align: center;
        border: $orange;
        margin-bottom: 25px;
    }

    &__btn-2 {
        max-width: 160px;
        @include font-properties (600, 16px, 60px);
        text-align: center;
        color: black;
        background-color: #fff;
        padding: 0 20px;
        text-align: center;
        border: 1px solid;
    }

    &__txt-sm {
        @include font-properties(400, 15px, 25px);
    }

    &__img {
        max-width: 600px;
        min-height: 530px;
        width: 100%;
    }
}




/*content*/
%content-layot {
    @extend %flex;
    justify-content: space-between;
    padding: 130px 0;
    gap: 40px;
}

%txt-layot {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

%img-layot {
    max-width: 632px;
    width: 100%;
}



.section {

    /*section 1 */

    &__bg-color-1 {
        background-color: $peach;
        width: 100%;
    }
    
    &__info-1 {
        @extend %flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
    }

    &__h1-1 {
        padding-top: 90px;
        padding-bottom: 70px;
        @include font-properties(600, 50px, 60px);
    }

    &__logo-box {
        @extend %flex;
        flex-direction: row;
        align-items: center;
        min-height: 53px;
        max-width: 1290px;
        gap: 50px;
        margin-bottom: 90px;
    }



    
    /*section-2*/
    
    
    &__info-2 {
        @extend %content-layot;
        flex-direction: row;
    }

    &__section-txt {
        @extend %txt-layot;
    }
    
    &__h1 {
        @include font-properties(600, 50px, 60px)
    }
    
    &__txt {
        @include font-properties(400, 20px, 30px)
    }
    
     &__h5 {
        @include font-properties(600, 20px, 30px)
    }
    
    &__img {
        @extend %img-layot;
    }


    /*section-3*/
    
    &__info-3 {
        @extend %content-layot;
        flex-direction: row-reverse;
        
    }


    /*section-4*/
    
    &__info-4 {
        @extend %content-layot;
        flex-direction: row;
    
    }
    
    
    /*section-5*/
    
    &__info-5 {
        @extend %content-layot;
        flex-direction: row-reverse;
    }
    
    
    /*section 6*/

    &__info-6 {
        @extend %content-layot;
        flex-direction: row;
    }

}




    
