@font-face {
  font-family: "Graphik LCG";
  src: url(../fonts/GraphikLCG-Regular.ttf), url(../fonts/GraphikLCG-Semibold.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Graphik LCG", sans-serif;
}

body {
  font-family: "Graphik LCG";
}

.page-wrap {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FF6336;
}

li {
  list-style: none;
}

.footer__lokalise, .footer__box-2, .footer__block-3, .footer__block-2, .footer__block-4, .footer__block-5, .footer__wrap-item, .footer__block-1, .footer__box-1, .section-10__middle-wrap, .section-9__info-wrap, .section-8__highest-rate, .section-8__users-love, .section-8__rate, .section-8__img-txt, .section-8__rate-wrap, .article__txt-content, .article__info, .section-7__white-cards, .section-6__cards, .section-2-5__section-txt, .section-2-5__info, .section-1__logo-box, .section-1__info, .main__nav-btn, .main__block-1, .main__info, .header__nav-btn, .header__nav, .header__nav-logo, .header__top-item {
  display: flex;
  flex-wrap: wrap;
}

.header {
  border-bottom: 1px solid #E5E5E5;
  padding: 34px 0 33px;
}
.header__top-item {
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.header__nav-logo {
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.header__nav {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.header__nav-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: black;
}
.header__nav-txt:hover {
  color: #FF6336;
}
.header__nav-btn {
  flex-direction: row;
  gap: 10px;
}
.header__btn-1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  max-width: 120px;
  color: black;
  background-color: #fff;
  padding: 0 30px;
  text-align: center;
  border: 1px solid;
}
.header__btn-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  max-width: 120px;
  background-color: #FF6336;
  color: white;
  padding: 0 20px;
  text-align: center;
  border: #FF6336;
}

@media (max-width: 1023px) {
  .header {
    padding: 24px 0 23px;
  }
  .header__top-item {
    gap: 20px;
  }
  .header__nav-logo {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
  .header__nav {
    gap: 20px;
    justify-content: center;
  }
  .header__btn-1 {
    font-weight: 600;
    font-size: 15px;
    line-height: 45px;
    max-width: 110px;
    padding: 0 25px;
  }
  .header__btn-2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 45px;
    max-width: 100px;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 24px 0 13px;
  }
  .header__top-item {
    justify-content: center;
    gap: 20px;
  }
  .header__nav-logo {
    align-items: center;
    gap: 20px;
  }
  .header__nav {
    gap: 15px;
  }
  .header__btn-1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 45px;
    max-width: 100px;
    padding: 0 22px;
  }
  .header__btn-2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 45px;
    max-width: 90px;
    padding: 0 12px;
  }
}
.main {
  padding: 115px 0 140px;
}
.main__info {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 100px;
  align-items: center;
}
.main__block-1 {
  flex-direction: column;
  text-align: left;
  max-width: 552px;
}
.main__h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 50px;
}
.main__txt {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}
.main__nav-btn {
  flex-direction: row;
  gap: 10px;
  margin-bottom: 25px;
}
.main__btn-1 {
  max-width: 160px;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  background-color: #FF6336;
  color: white;
  padding: 0 30px;
  text-align: center;
  border: #FF6336;
}
.main__btn-2 {
  max-width: 160px;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: black;
  background-color: #fff;
  padding: 0 20px;
  text-align: center;
  border: 1px solid;
}
.main__txt-sm {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.main__img {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 1211px) {
  .main__block-1 {
    max-width: 500px;
  }
  .main__img {
    max-width: 500px;
  }
}
@media (max-width: 1060px) {
  .main__img {
    max-width: 450px;
  }
}
@media (max-width: 1030px) {
  .main {
    padding: 100px 0 90px;
  }
  .main__info {
    padding-bottom: 50px;
    gap: 30px;
    justify-content: center;
  }
  .main__h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .main__txt {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .main__nav-btn {
    margin-bottom: 20px;
  }
  .main__btn-1 {
    font-weight: 600;
    font-size: 15px;
    line-height: 45px;
    max-width: 120px;
    padding: 0 20px;
  }
  .main__btn-2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 45px;
    max-width: 120px;
    padding: 0 10px;
  }
  .main__txt-sm {
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .main__img {
    max-width: 400px;
  }
}
@media (max-width: 989px) {
  .main__img {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .main {
    padding: 50px 0 90px;
  }
  .main__info {
    padding-bottom: 10px;
    justify-content: center;
  }
}
/*section 1*/
.section-1__bg-color-1 {
  background-color: #FF9C7D;
}
.section-1__info {
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}
.section-1__h2 {
  padding-top: 90px;
  padding-bottom: 70px;
  justify-content: center;
  text-align: center;
  max-width: 620px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
.section-1__logo-box {
  flex-direction: row;
  align-items: center;
  max-width: 1290px;
  gap: 50px;
  margin-bottom: 90px;
}

@media (max-width: 1023px) {
  .section-1__info {
    padding: 0 30px;
  }
  .section-1__h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 60px;
  }
  .section-1__logo-box {
    justify-content: center;
    max-width: 1290px;
    gap: 25px;
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .section-1__h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
  }
  .section-1__logo-box {
    justify-content: center;
    gap: 25px;
    margin-bottom: 80px;
  }
}
/*section 2-5*/
.section-2-5__info {
  justify-content: space-between;
  padding: 130px 0;
  gap: 40px;
  flex-direction: row;
}
.section-2-5__section-txt {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-width: 510px;
}
.section-2-5__h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
.section-2-5__txt {
  max-width: 520px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.section-2-5__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.section-2-5__img {
  max-width: 632px;
  width: 100%;
}

@media (max-width: 1242px) {
  .section-2-5__img {
    max-width: 520px;
  }
}
@media (max-width: 1130px) {
  .section-2-5__section-txt {
    max-width: 460px;
  }
  .section-2-5__h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
  }
  .section-2-5__img {
    max-width: 460px;
  }
}
@media (max-width: 1023px) {
  .section-2-5__info {
    justify-content: center;
    padding: 45px 0;
    gap: 30px;
  }
  .section-2-5__h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
  }
  .section-2-5__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
  }
  .section-2-5__img {
    max-width: 432px;
    width: 100%;
  }
}
@media (max-width: 982px) {
  .section-2-5__reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-2-5__section-txt {
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  .section-2-5__h2 {
    font-weight: 600;
    font-size: 33px;
    line-height: 50px;
  }
}
/*section 6*/
.section-6__bg-color-6 {
  background-color: #FFF8E4;
}
.section-6__card-headline {
  padding: 120px 0 58px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
.section-6__cards {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 110px;
  padding-bottom: 95px;
}
.section-6__card {
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 22px;
}
.section-6__card-img {
  max-width: 160px;
  min-height: 120px;
}
.section-6__headline-sm {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
}
.section-6__card-txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 1023px) {
  .section-6__card-headline {
    padding: 100px 0 50px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
  }
  .section-6__cards {
    justify-content: center;
    gap: 90px;
    padding-bottom: 80px;
  }
  .section-6__card {
    max-width: 300px;
    width: 100%;
    gap: 22px;
  }
  .section-6__card-img {
    max-width: 160px;
    min-height: 120px;
  }
  .section-6__headline-sm {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
  }
  .section-6__card-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  .section-6__card-headline {
    font-weight: 600;
    font-size: 35px;
    line-height: 60px;
  }
}
/*section-7*/
.section-7__white-card-headline {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: left;
  padding: 154px 0 25px;
}
.section-7__white-cards {
  flex-direction: row;
  padding-bottom: 95px;
  align-items: baseline;
  justify-content: center;
}
.section-7__white-card {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 50px;
}
.section-7__white-card-img1 {
  max-width: 145px;
  min-height: 200px;
  margin-bottom: 49px;
}
.section-7__white-card-img2 {
  max-width: 179px;
  min-height: 166px;
  margin-bottom: 50px;
}
.section-7__white-card-img3 {
  max-width: 179px;
  min-height: 183px;
  margin-bottom: 50px;
}
.section-7__white-headline-sm {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 34px;
}
.section-7__white-card-txt {
  max-width: 415px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.section-7__card-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-decoration: underline;
  color: black;
  margin-top: 25px;
}

@media (max-width: 1023px) {
  .section-7__white-card-headline {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    padding: 110px 0 25px;
    text-align: center;
  }
  .section-7__white-cards {
    justify-content: center;
  }
  .section-7__white-card {
    max-width: 420px;
    width: 100%;
    padding-top: 20px;
    align-items: center;
  }
  .section-7__white-card-img1 {
    margin-bottom: 45px;
  }
  .section-7__white-card-img2 {
    margin-bottom: 46px;
  }
  .section-7__white-card-img3 {
    margin-bottom: 46px;
  }
  .section-7__white-card-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .section-7__white-card-headline {
    font-weight: 600;
    font-size: 35px;
    line-height: 60px;
    padding: 100px 0 25px;
  }
  .section-7__white-card {
    align-items: center;
    padding-bottom: 30px;
  }
  .section-7__white-card-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  .section-7__card-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 25px;
  }
}
.article__bg-color {
  background-color: #C9E8F2;
}
.article__info {
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 0 150px;
}
.article__txt-content {
  flex-direction: column;
  gap: 23px;
}
.article__txt {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  max-width: 920px;
}
.article__txt-sm {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.article__img-sm {
  max-width: 115px;
  min-height: 25px;
}
.article__img {
  max-width: 310px;
  min-height: 310px;
  width: 100%;
}

@media (max-width: 1320px) {
  .article__info {
    flex-direction: column-reverse;
    align-items: center;
  }
  .article__txt-content {
    align-items: center;
  }
}
@media (max-width: 1023px) {
  .article__txt {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 767px) {
  .article__txt {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
  }
}
/*section 8*/
.section-8__bgc-brown {
  background-color: #DABC98;
}
.section-8__rate-wrap {
  justify-content: space-between;
  gap: 30px;
  padding: 69px 0 80px;
}
.section-8__img-txt {
  gap: 60px;
  align-items: center;
}
.section-8__cake {
  max-width: 176px;
}
.section-8__bold-txt {
  max-width: 460px;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}
.section-8__rate {
  gap: 70px;
  align-items: center;
  border-left: 1px solid black;
  padding-left: 50px;
}
.section-8__users-love {
  flex-direction: column;
  max-width: 128px;
  gap: 20px;
}
.section-8__highest-rate {
  flex-direction: column;
  justify-content: left;
  max-width: 150px;
  gap: 20px;
}
.section-8__img-stars {
  max-width: 128px;
  min-height: 20px;
}
.section-8__brown-block-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

@media (max-width: 1185px) {
  .section-8__rate-wrap {
    justify-content: center;
  }
}
@media (max-width: 1023px) {
  .section-8__rate-wrap {
    gap: 40px;
    padding: 60px 0 70px;
  }
  .section-8__img-txt {
    gap: 40px;
  }
  .section-8__cake {
    max-width: 150px;
  }
  .section-8__bold-txt {
    max-width: 400px;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .section-8__rate-wrap {
    justify-content: center;
  }
  .section-8__img-txt {
    justify-content: center;
    text-align: center;
  }
  .section-8__bold-txt {
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
  }
  .section-8__rate {
    justify-content: center;
  }
}
/*section 9*/
.section-9__info-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 169px 0 120px;
}
.section-9__heading-h2 {
  max-width: 791px;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
}
.section-9__txt-middle {
  max-width: 539px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.section-9__img-middle {
  max-width: 1023px;
  width: 100%;
}
.section-9__btn-middle {
  padding: 0 20px;
  color: white;
  background-color: #FF6336;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  border: none;
}

@media (max-width: 1023px) {
  .section-9__info-wrap {
    padding: 150px 0 120px;
  }
  .section-9__heading-h2 {
    max-width: 780px;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
  }
  .section-9__txt-middle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .section-9__info-wrap {
    padding: 120px 0 100px;
  }
  .section-9__heading-h2 {
    max-width: 750px;
    font-weight: 600;
    font-size: 40px;
    line-height: 75px;
  }
}
/*section 10*/
.section-10__bg-color {
  background-color: #FF9C7D;
}
.section-10__middle-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 161px 0 161px;
  gap: 35px;
}
.section-10__black-btn {
  padding: 0 30px;
  color: white;
  background-color: black;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
}
.section-10__heading-h2 {
  max-width: 791px;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
}
.section-10__txt-middle {
  max-width: 539px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

@media (max-width: 1023px) {
  .section-10__middle-wrap {
    padding: 150px 0 150px;
  }
  .section-10__heading-h2 {
    max-width: 650px;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
  }
}
@media (max-width: 1023px) {
  .section-10__middle-wrap {
    padding: 140px 0 140px;
  }
  .section-10__heading-h2 {
    max-width: 600px;
    font-weight: 600;
    font-size: 45px;
    line-height: 75px;
  }
}
.footer__bgc {
  background-color: #EEEEEE;
}
.footer__wrap {
  padding: 92px 0 48px;
}
.footer__box-1 {
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 95px;
  gap: 20px;
}
.footer__block-1 {
  flex-direction: column;
  justify-content: left;
  gap: 25px;
}
.footer__h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.footer__img {
  max-width: 300px;
  width: 100%;
}
.footer__mini-logo {
  max-width: 80px;
}
.footer__block-txt {
  max-width: 290px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.footer__link {
  color: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.footer__wrap-item {
  gap: 34px;
}
.footer__block-h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}
.footer__mini-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
.footer__block-2, .footer__block-4, .footer__block-5 {
  flex-direction: column;
  gap: 15px;
  padding-right: 10px;
}
.footer__block-2 {
  padding-right: 50px;
}
.footer__block-3 {
  flex-direction: column;
  gap: 15px;
}
.footer__box-2 {
  justify-content: space-between;
  gap: 20px;
  padding-top: 48px;
}
.footer__lokalise {
  gap: 15px;
  align-items: center;
}
.footer__lokalise-img {
  max-width: 90px;
}
.footer__lokalise-txt {
  max-width: 300px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.footer__h6, .footer__privacy-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
  padding: 15px 15px 0;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
  padding: 15px 15px 0;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
  padding: 15px 15px 0;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
  padding: 15px 15px 0;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
  padding: 15px 15px 0;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
  padding: 15px 15px 0;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
  padding: 15px 15px 0;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
  padding: 15px 15px 0;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
  padding: 15px 15px 0;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
  padding: 15px 15px 0;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
  padding: 15px 15px 0;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
  padding: 15px 15px 0;
}

@media all and (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
    padding: 15px 15px 0;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
    padding: 15px 15px 0;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 15px 15px 0;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
    padding: 15px 15px 0;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
    padding: 15px 15px 0;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 15px 15px 0;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
    padding: 15px 15px 0;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
    padding: 15px 15px 0;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
    padding: 15px 15px 0;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
    padding: 15px 15px 0;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
    padding: 15px 15px 0;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 15px 15px 0;
  }
}
@media all and (min-width: 767px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
    padding: 15px 15px 0;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
    padding: 15px 15px 0;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 15px 15px 0;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
    padding: 15px 15px 0;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
    padding: 15px 15px 0;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 15px 15px 0;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
    padding: 15px 15px 0;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
    padding: 15px 15px 0;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
    padding: 15px 15px 0;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
    padding: 15px 15px 0;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
    padding: 15px 15px 0;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 15px 15px 0;
  }
}
@media all and (min-width: 1200px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
    padding: 15px 15px 0;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
    padding: 15px 15px 0;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 15px 15px 0;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
    padding: 15px 15px 0;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
    padding: 15px 15px 0;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 15px 15px 0;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
    padding: 15px 15px 0;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
    padding: 15px 15px 0;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
    padding: 15px 15px 0;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
    padding: 15px 15px 0;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
    padding: 15px 15px 0;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 15px 15px 0;
  }
}